autom4te.cache/
_build/
config/compile
config/config.*
config/install-sh
config/mkinstalldirs
config/missing
m4/*.m4
po/Makefile*
po/POTFILES
po/Rules-quot
po/stamp-*
po/*.gmo
po/*.header
po/*.mo
po/*.pot
po/*.sed
po/*.sin
po/*.template
zip-files/
ABOUT-NLS
ac-local.m4
config.log
config.status
configure
Makefile
Makefile.in

