autom4te.cache/
_build/
config/compile
config/config.*
config/install-sh
config/mkinstalldirs
config/missing
m4/*.m4
po/Makefile*
po/POTFILES
po/Rules-quot
po/stamp-*
po/*.gmo
po/*.header
po/*.mo
po/*.pot
po/*.sed
po/*.sin
po/*.template
src/Makefile
src/Makefile.in
src/metadata.json
src/*.gschema.valid
zip-files/
ABOUT-NLS
aclocal.m4
config.log
config.status
configure
Makefile
Makefile.in
*.zip

