/* widget.js styling */
.filechooser-dialog {
}

.filechooser-widget {
    spacing: 0;
}

.filechooser-sidepane {
    padding: 0;
    spacing: 0;
    border-right: 1px solid #999999;
}

.filechooser-siderow {
    padding: 6px;
    spacing: 6px;
}

.filechooser-siderow StIcon,
.filechooser-filerow StIcon {
    width: 1.5em;
    height: 1.5em;
}

.filechooser-filelist {
    spacing: 0;
}

.filechooser-filerow {
    padding: 2px;
    spacing: 6px;
}

/* extension.js styling */
.mconnect-property-name {
    font-weight: bold;
}

.mconnect-property-box {
    padding: 1em 2em;
    spacing: 1em;
}

.mconnect-status-bar {
    spacing: 1em;
}

.mconnect-status-label {
    padding: 0 1em;
}
